html    
  head
     title #{title}
     link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css", rel="stylesheet")
     link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
     style.
         .card{
            margin-top:15%;
          
         }
         body{
           background-color:orange;
           opacity:0.7;
             overflow:hidden;
         }
        
     
  body
    div.columns
      
      div.card.column.is-4.is-offset-4
       if(error)
        h3(align="center",style="color:#ff3860") #{error}
       form(action="/account/login",method="post")
         div.card-content
            div.content
               div.field
                 p.control
                   input(type="text", placeholder="Email", name="email").input
                   if(errors)
                     for error in errors
                         if (error.param=='email')
                            p.help.is-danger #{error.msg} 
                            -break
               div.field
                 p.control
                   input(type="password", placeholder="Password", name="password").input
                   if(errors)
                      for error in errors
                         if (error.param=='password')
                            p.help.is-danger #{error.msg}
                            -break
         
    
         button(type="submit",align="right").button.is-pulled-right Login